<header>
    <div id="title">
        サークルミッケ
    </div>
    <div class="menu">
        <ul>
            <li><a class="serch.ejs">サークルを探す</a></li>
            <li><a class="detail.ejs">詳細検索</a></li>
            <li><a class="allcircle.ejs">サークル一覧</a></li>
            <li><a class="likes.ejs">ライク一覧</a></li>
        </ul>
    </div>
    
</header>