<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'utf-8'> 
    <title>サークルミッケ</title>
    <list rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
      $(function () {
      $('.menu a').on('click',  function(event){
      
        var link =$(this).attr('class');
    
        if(link!==lastpage){
          $('.ajaxSpace').fadeOut(100, function(){
            getPage(link);
            
          });
          lastpage=link;
        }
      });
      var lastpage = 'main.ejs' ;
        getPage('main.ejs');
    
      function getPage(elm){
        console.log(elm);
        $.ajax({
          url: elm,
          type: 'GET',
          dataType: 'html',
          success: function(data){
            $('.ajaxSpace').html(data).fadeIn(100);
            
          },
          error:function(){
            alert('問題がありました');
          }
        });
      }
    });
    </script>  
    
  </head>
  <body>
      <%- include('header') %>
    <div class='ajaxSpace'></div>
      
  </body>
</html>

